
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    
        <nav class="navbar">
            <div class="logo">
                <a href="#">CyberSync</a>
            </div>
            <ul class="nav-links" id="navLinks">
                <li><a href="#">Home</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="about">About us</a></li>
                <li><a href="loginpage">Login</a></li>
            </ul>
            <div class="hamburger" id="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        <div class="background-video">
        <video id="background-video"  autoplay muted loop id="background-video">
            <source src="/static/video/background1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

        <div class="container1">
           

            <div class="btn">
                <button class="custom-btn"><a href="/second/">SPAM DETECTION</a></button>
            </div>
        
            
             <div class="slider">

            <div class="slide active">Spoutible, a Twitter alternative, faced a significant security breach in
                January
                2024, which affected about 207,000 records. The breach was due to an API exploit that allowed
                hackers to
                retrieve email addresses, profile information, and bcrypt-hashed passwords. Security researcher Troy
                Hunt criticized the API for exposing hashed passwords, emphasizing that it should never return such
                sensitive data.</div>
            <div class="slide">The Tangerine Telecom breach occurred on February 18, 2024, affecting over 200,000
                records that included personal information like names, dates of birth, phone numbers, and email
                addresses. However, bank and password details were not compromised. It appears that the breach was
                linked to an internal source, specifically the login credentials of a contractor.</div>
            <div class="slide">In January 2024, Trello experienced a data leak affecting 15 million accounts.
                Hackers
                used a public API to match an existing database of 50 million emails with Trello accounts, exposing
                information like emails, usernames, full names, and other account details. This data was then
                offered
                for sale on a hacking forum..</div>
            <div class="slide">In the first quarter of 2024, Indian websites experienced a 261% increase in
                cyberattacks
                compared to the same period in 2023. The most targeted sectors included power and energy companies,
                which faced up to 500 times more attacks than the industry average, and the BFSI (Banking, Financial
                Services, and Insurance) sector, where 9 out of 10 websites experienced bot attacks. DDoS
                (Distributed
                Denial-of-Service) attacks rose by 76%, and bot attacks increased by 147%​</div>


            <div class="dots">
                <span class="dot active-dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <!--<div class="btn">
            <button class="custom-btn"> Spam detection</button>
        </div>-->
    </div>
    <script src="/static/js/script.js"></script>


    
    <div class="container">
        <div class="image-container"id="about">
            <img src="https://www.cloudflare.com/img/learning/security/threats/phishing-attack/diagram-phishing-attack.png"
                alt="Sample Image 1" class="left-image">
        </div>
        <div class="content-container">
            <a href="phishing">Phishing</a>
            <p>“Phishing” refers to an attempt to steal sensitive information, typically in the form of usernames,
                passwords, credit card numbers, bank account information or other important data in order to utilize or
                sell the stolen information. By masquerading as a reputable source with an enticing request, an attacker
                lures in the victim in order to trick them, similarly to how a fisherman uses bait to catch a fish.</p>
        </div>
    </div>

    
    <div class="container">
        <div class="image-container">
            <img src="https://www.compuquip.com/hubfs/images/blog-images/definition-of-spoofing.jpg#keepProtocol"
                alt="Sample Image 2" class="left-image">
        </div>
        <div class="content-container">
            <a href="spoofing">Spoofing</a>
            <p>Spoofing is a technique through which a cybercriminal disguises themselves as a known or trusted source.
                In so doing, the adversary is able to engage with the target and access their systems or devices with
                the ultimate goal of stealing information, extorting money or installing malware or other harmful
                software on the device.</p>
        </div>
    </div>

    
    <div class="container">
        <div class="image-container">
            <img src="https://cd.blokt.com/wp-content/uploads/2019/10/denial-of-service-attack.png" alt="Sample Image 3"
                class="left-image">
        </div>
        <div class="content-container">
            <a href="dos">Denial-of-service (DoS) attacks</a>
            <p>A Denial-of-Service (DoS) attack is a malicious, targeted attack that floods a network with false
                requests in order to disrupt business operations.

                In a DoS attack, users are unable to perform routine and necessary tasks, such as accessing email,
                websites, online accounts or other resources that are operated by a compromised computer or network.
                While most DoS attacks do not result in lost data and are typically resolved without paying a ransom,
                they cost the organization time, money and other resources in order to restore critical business
                operations.</p>
        </div>
    </div>


    
    <footer id="contact">
        <div class="footer-content">
            <p>&copy; CyberSynkS . All Rights Reserved.</p>
            
            <div class="social-icons">
                <a href="#" target="_CyberSynkS">CyberSynkS@gmail.com</a> 
                <a href="#" target="_blank">linkden</a>
                <a href="#" target="_blank">Youtube</a>
                <a href="#" target="_blank">facebook</a>
            </div>
        </div>
    </footer>


</body>

</html>